@model System.Collections.Generic.List<WebProjects.Models.Models.ViewModels.IndexProjectViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="row">
    <div class="col-6">
        <h2>Listado de proyectos activos</h2>
    </div>
    <div class="col-6">
        <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#modal-add-project">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>


<div class="row">
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Cantidad de tareas</th>
                <th></th>
            </tr>
            
            @foreach (var project in Model)
            {
                <tr>
                    <td>@project.ProjectId</td>
                    <td>@project.ProjectName</td>
                    <td>@project.ProjectTaskCount</td>
                    <td>
                        <button class="btn btn-danger">
                            <i class="fa fa-trash"></i>
                        </button>
                    </td>
                </tr>
            }
            
        </table>
    </div>
</div>

@await Html.PartialAsync("_ModalAddProject")
